<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Keybase - {% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <div class="header_logo">
        Keyspace
      </div>

      <div class="header_buttons">
      {% if session["username"] %}
        <a class="button" href="/logout">logout</a>
      {% else %}
        <a class="button" href="/login">login</a>
        <a class="button" href="/register">register</a>
      {% endif %}
      </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
  </body>
</html>
